<div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a>About</a></li>
    <li><a (click)="show('gallery')">Gallery</a></li>
    <li><a (click)="show('diet')"> Diet Info</a></li>
    <li><a>Animal Anatomy and Biology</a></li>
    <li><a>Animal Behavior</a></li>
  </ul>
</div>
<div>
<h1>De olifant</h1>
<p>Olifanten zijn de zwaarste dieren die op het land leven. Ze bestaan al 35 miljoen jaar. Ze hebben veel grond nodig om op te leven en per dag honderden kilo´s aan plantaardig voedsel. Olifanten hebben de langste draagtijd van alle zoogdieren op aarde, maar liefst 22 maanden. Vrouwelijke olifanten kunnen eens in de 4 tot 5 jaar een jong krijgen. De jonge olifant blijft jaren bij de moeder. De vrouwtjesolifanten uit de groep zorgen ook voor de jongen van anderen.</p>
<p>Olifanten kunnen wel 8 ton wegen. Ze hebben een enorm lichaam, lange oren en een lange slurf die ze gebruiken om dingen op de rapen, om andere dieren te waarschuwen en om water op te pakken om te drinken. Er zijn drie soorten olifanten: de Afrikaanse bosolifant, de Afrikaanse savanneolifant en de Aziatische olifant. Onder de laatste vallen ook nog een aantal subsoorten. Olifanten verschillen veel van elkaar. De Afrikaanse olifant is de grootste. Aziatische olifanten zijn een stuk kleiner. Alle Afrikaanse olifanten hebben slagtanden. Bij Aziatische olifanten is dit niet het geval, alleen bij sommige mannetjes.</p>
<p>
Op deze pagina's vind je informatie over de olifanten. Bijvoorbeeld om een werkstuk te kunnen maken. Of gewoon omdat je de olifant een superleuk dier vindt!</p>
  <app-gallery *ngIf="showPage === 'gallery'"></app-gallery>
  <img *ngIf="showPage !== 'gallery'" src="assets/images/home1.jpg">
</div>
