<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weetjes over Olifanten</title>
</head>
<body>
<div>
  <app-side-menu></app-side-menu>
</div>
<div>
<h1>10 weetjes over olifanten</h1>
<ol>
<li><h3>Het zijn goede probleemoplossers</h3>
<p>Olifanten doorzien een probleem gemakkelijk en zijn goed in het oplossen ervan. Dit doen ze alleen, maar ook samen. Onderzoekers toonden aan dat olifanten een echt ‘aha’ moment hebben, wanneer ze de oplossing voor een probleem hebben bedacht. Zo zijn er incidenten bekend van olifanten die bomen of grote stenen op elektriciteitsdraden gooiden om een omheining kapot te maken en te kunnen ontsnappen.</p></li>
<li><h3>Ze gebruikers tools</h3>
<p>Om problemen op te lossen, gebruiken olifanten vaak voorwerpen uit hun omgeving – een teken van intelligentie. Zo zijn er vele olifanten gezien die takken afbreken om te krabben op plekjes waar ze zelf niet bij kunnen of vliegen weg te slaan.</p></li>
<li><h3>Ze leren tijdens hun leven</h3>
<p>Olifanten leren hun leven lang. Zo leren ze van hun kudde bijvoorbeeld hoe ze moeten eten, hoe ze tools kunnen gebruiken, hoe ze zich moeten gedragen als er gevaar dreigt en waar ze de meeste kans hebben op voedsel en water. Om deze reden is de matriarch (leider) van de kudde ook meestal het oudste dier. Zij is het wijst en kan de beste beslissingen maken voor de kudde.</p></li>
<li><h3>Ze hebben een goed geheugen</h3>
<p>Onderzoek heeft nog niet aangetoond dat olifanten nooit vergeten, maar ze hebben zeker een bijzonder goed geheugen! En dat is hartstikke belangrijk, zeker voor de matriarch die wordt geacht haar kudde te leiden door alles wat ze heeft geleerd gedurende haar leven. In The Elephant Sanctuary in Tennessee ontdekten ze hoe goed het geheugen van olifanten is. Toen Shirley als nieuwkomer bij de groep kwam, waren zij en Jenny een olifant uit de opvang duidelijk heel blij om elkaar weer te zien. Wat bleek: meer dan 20 jaar geleden werkten ze samen in hetzelfde circus en ze herkenden elkaar nog steeds.</p></li>
<li><h3>Ze kunnen mensenstemmen van elkaar onderscheiden</h3>
<p>Wetenschappers van de Universiteit van Sussex ontdekten dat wilde Afrikaanse olifanten naast geur ook geluid gebruiken om menselijk gevaar te bespeuren. Aan de hand van de mensenstemmen kunnen de dieren namelijk horen of het een man of vrouw betreft, een volwassene of een kind en tot welke etnische groep de persoon behoort. En dit komt goed van pas: zo kunnen ze inschatten of een naderend individu een gevaar vormt of niet. Zo zullen mannen eerder een gevaar vormen dan vrouwen, volwassenen eerder dan kinderen en zullen individuen van sommige gemeenschappen gevaarlijker zijn voor olifanten dan andere gemeenschappen.</p></li>
<li><h3>Ze zijn zelfbewust</h3>
<p>Uit onderzoek blijkt dat olifanten over zelfbewustzijn beschikken: het besef dat zijzelf en anderen bestaan. Dit bleek na een onderzoek waarbij een spiegel in het leefgebied van olifanten werd geplaatst. De dieren leken te begrijpen dat zij zichzelf konden zien in de spiegel. In een ander experiment werd er een kruis geverfd op het voorhoofd van een olifant. Terwijl het dier in de spiegel keek, raakte ze met haar slurf het kruis op haar hoofd aan. Ze kon zichzelf dus herkennen in de spiegel en besefte dat het kruis op haar eigen hoofd getekend was.</p></li>
<li><h3>Ze rouwen om hun doden</h3>
<p>Vrouwtjes olifanten leven samen in hechte kuddes. Deze hechte band is duidelijk te zien wanneer een olifant overlijdt. Sommige olifanten uit de kudde blijven een aantal dagen bij het lichaam en laten hun slurf over het lichaam gaan of proberen het dier overeind te trekken. Er zijn ook incidenten bekend van olifanten die blaadjes of takjes op het lichaam legden. De kudde blijft jaarlijks terugkeren naar de plek waar het dier overleed en ook andere kuddes stoppen bij het lichaam om met hun slurf en poten de botten te bestuderen. Er is zelfs een incident bekend van een groep olifanten die een bot uit een kamp met onderzoekers meenamen en het teruglegden bij de rest van de botten.</p></li>
<li><h3>Ze kunnen een PTSS ontwikkelen</h3>
<p>Het verliezen van hun moeder, verlies van leefgebied, stropers, ziekte: olifanten maken vreselijke dingen mee tijdens hun leven. Wetenschappers van de Universiteit van Sussex toonden aan dat olifanten door traumatische ervaringen een post traumatische stress stoornis kunnen ontwikkelen, net zoals mensen.</p></li>
<li><h3>Ze hebben vele vocalisaties</h3>
<p>Hoewel trompetteren het meest bekend geluid is van olifanten, gebruiken olifanten vele andere manieren om te communiceren, hoorbaar en onhoorbaar. Zo communiceren ze met elkaar door aanrakingen en lichaamstaal, maar ook via allerlei geluidssignalen zoals knorren, fluiten, brommen en trompetteren. Daarnaast maken ze gebruik van infrasone geluiden die zo laag zijn dat het mensen ze niet kunnen horen. Ook blijken olifanten geluiden te kunnen leren en imiteren, zoals olifant Mlaika in Kenia die het geluid van een vrachtwagen na kon doen.</p></li>
<li><h3>Ze ‘horen’ met hun poten</h3>
<p>Door hun grote oren hebben olifanten een uitstekend gehoor, maar olifanten kunnen ook erg goed ‘horen’ met hun poten. Met hun gevoelige poten voelen ze trillingen van kilometers ver weg. Deze trillingen worden via de botten naar het middenoor gestuurd. Zo kan het dier bijvoorbeeld ‘horen’ waar gevaar dreigt of dat er een bevriende groep olifanten aankomt.</p></li></ol></div>
</body>
</html>
